In [1]:
import mysql.connector

In [2]:
# Configura los detalles de tu conexi贸n
config = {
    'user': 'admin',
    'password': 'XXXXX',
    'host': 'XXXXXX',
    'database': 'UPSA'
}

In [3]:
# Establece la conexi贸n
try:
    conn = mysql.connector.connect(**config)
    if conn.is_connected():
        print("Conexi贸n exitosa")
except mysql.connector.Error as err:
    print(f"Error: {err}")

Conexi贸n exitosa

In [4]:
# Crea las tablas en la Base de datos
cursor = conn.cursor()
create_table_query_1 = """
CREATE TABLE tabla_1 (
    id INT AUTO_INCREMENT PRIMARY KEY,
    nombre VARCHAR(100) NOT NULL,
    edad INT,
    ciudad VARCHAR(100)
)
"""

insert_query = """
INSERT INTO tabla_1 (nombre, edad, ciudad)
VALUES (%s, %s, %s)
"""

# Datos a insertar
datos = [
    ('Juan', 25, 'Madrid'),
    ('Ana', 30, 'Barcelona'),
    ('Luis', 22, 'Valencia'),
    ('Marta', 28, 'Sevilla'),
    ('Pedro', 35, 'Bilbao'),
    ('Laura', 29, 'Valencia'),
    ('Javier', 40, 'Madrid'),
    ('Cristina', 27, 'Barcelona'),
    ('Pablo', 33, 'Zaragoza'),
    ('Isabel', 24, 'Bilbao') 
]


try:
    # Crea la tabla
    cursor.execute(create_table_query_1)
    print("Tabla 1 creada exitosamente")
    
    # Puebla datos en la tabla
    cursor.executemany(insert_query, datos)
    conn.commit()
    print(f"{cursor.rowcount} registros insertados exitosamente") 
except mysql.connector.Error as err:
    print(f"Error: {err}")

Tabla 1 creada exitosamente
10 registros insertados exitosamente

In [ ]:
#Comprobamos los registros conectandonos a la DB